BOT_TOKEN=
QWEN_API_KEY=
QWEN_BASE_URL=https://ws-3so6n0l7etszzq37.ap-southeast-1.maas.aliyuncs.com/compatible-mode/v1
QWEN_MODEL=qwen-turbo
REDIS_URL=redis://redis:6379/0
DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/talaba_db
